.img {align-content:center;
max-width:90%;
max-height:90%;
}
.text{
text-justify:auto;
text-align:center;
font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;

}